[submodule "proj/emailscraper"]
	path = proj/emailscraper
	url = https://github.com/mallen7/emailscraper.git
[submodule "proj/google-maps-scraper"]
	path = proj/google-maps-scraper
	url = https://github.com/mallen7/google-maps-scraper.git
[submodule "proj/LinkedIn-Scraper"]
	path = proj/LinkedIn-Scraper
	url = https://github.com/mallen7/LinkedIn-Scraper.git
[submodule "linkedin_scraper"]
	path = linkedin_scraper
	url = https://github.com/mallen7/linkedin_scraper.git
[submodule "proj/linkedin_scraper"]
	path = proj/linkedin_scraper
	url = https://github.com/mallen7/linkedin_scraper.git
[submodule "proj/scraped_in"]
	path = proj/scraped_in
	url = https://github.com/mallen7/scrapedin.git
